<a id="simulation" href="<%= simulation_path %>"><blink>Simulation visuelle</blink></a>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="spinner">
      <%= image_tag 'reaper2.gif' %><br />
      <span style="color: #fff">Computing Death</span>
    </div>

    <%= form_tag estimations_path, { :class => 'form', :id => 'new_estimation' } do |f| %>
      <% cache do %>
        <div class="form-field date-of-birth">
          <%= label_tag :date_of_birth, "Quand êtes-vous né ?" %><br />
          <%#= date_field_tag :date_of_birth, '', { :class => 'form-control' } %>
          <%= select_date Date.today, { :start_year => Date.today.year - 104, :end_year => Date.today.year }, { :class => 'form-control' } %>
        </div>

        <div class="form-field">
          <%= label_tag :gender, "Quel est votre sexe ?" %>
          <%= select_tag :gender, options_for_select(gender_options, params[:gender]), :class => 'form-control' %>
        </div>

        <div class="form-field">
          <%= label_tag :city, "De quelle ville êtes-vous ?" %>
          <%= select_tag :city, grouped_options_for_select(city_options, params[:city]), :class => 'form-control' %>
        </div>
      <% end %>

      <div class="form-field">
        <%= button_tag 'Estimer mon espérance de vie', :class => 'btn btn-danger', :id => 'submit_estimation' %>
      </div>
    <% end %>

    <div class="sms">
      Envoyez votre âge, votre sexe et votre code postal au <span>+32 460 20 35 80</span> et recevez un pronostique mortel personnalisé (prix d'un SMS standard).
      <br />
      <small>Exemples : "28 h 7000" ou "34 f 1020".</small>
    </div>
  </div>
</div>
