<!DOCTYPE html>

<% page_id = "#{params[:controller].gsub('/', '-')}-#{params[:action]}" %>

<html lang="en" id="<%= page_id %>">
  <head>
    <title>Mordatality</title>

    <%= stylesheet_link_tag :application %>
  </head>

  <body role="document">
    <div class="container" role="main">

      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <a href="<%= root_path %>"><%= image_tag 'logo.jpg', :id => 'logo' %></a>
        </div>
      </div>

      <%= yield %>
    </div> <!-- /container -->

    <%= javascript_include_tag :application %>
  </body>
</html>
