<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Mordatality</title>

    <%= stylesheet_link_tag :application %>
  </head>

  <body role="document">
    <div class="container" role="main">
      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div> <!-- /container -->

    <%= javascript_include_tag :application %>
  </body>
</html>
